#menu {
    float: left;
    padding-right: 50px;
    height: 100%;
    padding-top: 15px;
}

#main {
    padding-top: 15px;
}

table.content {
	border-width: 1px;
	border-spacing: 3px;
	border-style: solid;
	border-color: gray;
    empty-cells:show;
}

#menu_table {
    border: 1px gray solid;
}

#menu_table td{
    border: 1px gray solid;
    padding-left: 15px;
}

table.content th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: gray;
}
table.content td {
	border-width: 1px;
    text-align: center;

    border-style: solid;
	border-color: gray;
}